.jumbotron
{
    padding:90px 0px 90px 0px;
    background-color: #9575cd;
}
.footer
{
    background-color: rgb(194, 139, 245);
}
small{
    font-weight:normal;
}
.navbar-dark{
    background-color:#512DA8;
}